:root {
  --white: #fff;
  --gray: #efefef;

  --primary-color: #262835;
  --primary-color-hover: #353747;
  --secondary-color: #ff5473;
  --secondary-color-hover: #f76f85;
  --tertiary-color: #2c3e50;
}
